* {
    margin: 0 auto;
    padding: 0;
} 
body {
    overflow-x: hidden;
}
#wrap {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.motto_container {
    width: 1280px;
    height: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.motto_box {
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.motto {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: 0.5s;
    margin: 0 5px 0 5px;
    width: 240px;
    height: 100%;
    background-size: 1200px 700px;
    background-position: var(--backposition) 50%;
    cursor: pointer;
}
.motto::after {
    width: 30px;
    height: 30px;
    background-color: orangered;
    border-radius: 50%;
    position: absolute;
    bottom: 37px;
    right: 30px;
    content: '↑';
    text-align: center;
    line-height: 30px;
    font-weight: 900;
    color: white;
    rotate: 45deg;
    opacity: 0;
    transition: 0.5s;
}
.motto:hover::after {
    opacity: 1;
}
.motto_text {
    position: absolute;
    bottom: 30px;
    left: 30px;
    color: white;
    transition: 0.5s;
    opacity: 0;
    height: 44px;
    line-height: 44px;
}
.motto:hover .motto_text {
    opacity: 1 !important;
}
.motto:nth-child(1):hover ~ .motto:nth-child(5)::before {
    content: '고객신뢰를 바탕으로 행복한 사회를 추구하는 글로벌 기업';
}
.motto:nth-child(2):hover ~ .motto:nth-child(5)::before {
    content: '기업의 가치 혁신의 출발은 나눔을 시작으로 고객 가치를 탐험한다.';
}
.motto:nth-child(3):hover ~ .motto:nth-child(5)::before {
    content: '세계 기후변화 대응을 위해 100% 재생에너지로 생산된 제품만 선별한다.';
}
.motto:nth-child(4):hover ~ .motto:nth-child(5)::before {
    content: '다른 생각 다른 미래, 플랫폼 기반의 글로벌 미래 혁신을 선도한다.';
}
.motto:nth-child(5):hover::before {
    content: '글로벌 수준의 개인정보보호 및 보안 체계를 유지한다.';
}
.motto:nth-child(5)::before {
    width: 80%;
    height: 30%;
    position: absolute;
    top: 30px;
    content: '';
    color: white;
    font-weight: 900;
    font-size: 20px;
}

.motto_box > .motto:nth-child(1) {
    border-radius: 30px 0 0 30px;
    background-image: url(image/motto/신뢰혁신.jpg);
}
.motto_box > .motto:nth-child(2) {
    background-image: url(image/motto/나눔혁신.jpg);
}
.motto_box > .motto:nth-child(3) {
    background-image: url(image/motto/환경혁신.jpg);
}
.motto_box > .motto:nth-child(4) {
    background-image: url(image/motto/미래혁신.jpg);
}
.motto_box > .motto:nth-child(5) {
    border-radius: 0 30px 30px 0;
    background-image: url(image/motto/보안혁신.jpg);
}